{% extends 'base.html' %}
{% block title %} HOME {% endblock title %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Newspaper App</h1>
    <p class="lead">
        A  Newspaper website built with django
    </p>
    <p class="lead">
        <a href="{% url 'article_list' %}" class="btn btn-primary btn-lg">View All Articles</a>
    </p>
</div>
{% if user.is_authenticated %}
<h1> Welcome: {{user.username}}</h1>
{% else %}
<p>You are not logged in</p>
<small class="text-muted">Already have an account? </small>
<a href="{% url 'login' %}"> Log in </a>
<p><small class="text-muted">Need an account? <a href="{% url 'signup'%}"> Register Here</a></small></p>
<p><small>Forgot password <a href="{%url 'password_reset' %}">Reset Password</a></small></p>
{% endif %}
{% endblock content %}

